.container {
    overflow: hidden;
    transition: height .35s ease;
}

.active {
    height: 100% !important;
}

.nextText {
    display: block;
    margin-top: 10px;
}

.inner {
    display: block;
}

.title {
    font-weight: bold;
}