@import '../../../../../styles/layout.variables.scss';
@import '../../../../../styles/palette.variables.scss';

.container {
    overflow: hidden;
    position: relative;
    transition: height .35s ease;

    &.active .inner {
        visibility: visible;
    }
}

.inner {
    position: absolute;
    width: 100%;
}

.content {
    margin: 20px;
    margin-top: 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.navbar {
    flex-direction: column;
    gap: 15px;
}
