@import '../../../styles/layout.variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0 auto;
    min-height: 60px;
    max-width: $base-container-width;

    @media (max-width: $breakpoint-laptop) { 
        margin: 0 20px;
    }
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10px;

    @media (max-width: $breakpoint-tablet) { 
        flex-direction: column;
        gap: 15px;
    }
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
}
